# Cell game

In [6]:
import psycopg2

# Connexion à la base postgres existante (pas à une base à créer)
conn = psycopg2.connect(
    dbname="dbz_cell", 
    user="postgres", 
    password="postgres", 
    host="localhost", 
    port="5432"
)

conn.autocommit = True  # indispensable pour CREATE DATABASE
# cur = conn.cursor()
# cur.execute("CREATE DATABASE dbz_fights;")
# cur.close()
conn.close()
print("Base dbz_cell créée avec succès ✅")

Base dbz_fights créée avec succès ✅

In [8]:
%reload_ext sql
%sql postgresql+psycopg2://postgres:postgres@localhost:5432/dbz_cell

In [9]:
%%sql

DROP TABLE IF EXISTS fighters;

CREATE TABLE fighters (
  id SERIAL PRIMARY KEY,
  name VARCHAR(255) NOT NULL,
  race VARCHAR(75),
  power_level INT,
  fights VARCHAR(75),
  status BOOLEAN DEFAULT true
);

   postgresql+psycopg2://postgres:***@localhost:5432
 * postgresql+psycopg2://postgres:***@localhost:5432/dbz_cell
Done.
Done.

[]

In [10]:
%%sql
DROP TABLE IF EXISTS arenes;

CREATE TABLE arenes (
  id SERIAL PRIMARY KEY,
  name VARCHAR(75),
  city VARCHAR(75)
);

   postgresql+psycopg2://postgres:***@localhost:5432
 * postgresql+psycopg2://postgres:***@localhost:5432/dbz_cell
Done.
Done.

[]

In [11]:
%%sql
DROP TABLE IF EXISTS matchs;

CREATE TABLE matchs (
  id SERIAL PRIMARY KEY,
  fighter1_id INTEGER,
  fighter2_id INTEGER,
  winner INTEGER,
  arene_id INTEGER,
  FOREIGN KEY (fighter1_id) REFERENCES fighters(id),
  FOREIGN KEY (fighter2_id) REFERENCES fighters(id),
  FOREIGN KEY (arene_id) REFERENCES arenes(id)
);

   postgresql+psycopg2://postgres:***@localhost:5432
 * postgresql+psycopg2://postgres:***@localhost:5432/dbz_cell
Done.
Done.

[]

In [12]:
%%sql
INSERT INTO fighters (name, race, power_level, fights) VALUES
 ('Goku','Saiyan',3000000,null),
 ('Vegeta','Saiyan',2500000,null),
 ('Piccolo','Namekian',1200000,null),
 ('Krillin','Humain',300000,null),
 ('Frieza','Alien',5000000,null),
 ('Zarbon','Alien',1500000,null),
 ('Dodoria','Alien',1200000,null),
 ('Captain Ginyu','Alien',2000000,null);

   postgresql+psycopg2://postgres:***@localhost:5432
 * postgresql+psycopg2://postgres:***@localhost:5432/dbz_cell
8 rows affected.

[]

In [13]:
%%sql
INSERT INTO arenes (name, city) VALUES
('Arène du Soleil', 'Lyon'),
('Colisée du Fleuve', 'Nantes'),
('Stade des Brumes', 'Rouen'),
('Palais des Luttes', 'Paris'),
('Arène du Verdier', 'Toulouse'),
('Colisée de la Plage', 'Biarritz')
;

   postgresql+psycopg2://postgres:***@localhost:5432
 * postgresql+psycopg2://postgres:***@localhost:5432/dbz_cell
6 rows affected.

[]

In [14]:
%%sql

SELECT * FROM fighters;

   postgresql+psycopg2://postgres:***@localhost:5432
 * postgresql+psycopg2://postgres:***@localhost:5432/dbz_cell
8 rows affected.

[(1, 'Goku', 'Saiyan', 3000000, None, True),
 (2, 'Vegeta', 'Saiyan', 2500000, None, True),
 (3, 'Piccolo', 'Namekian', 1200000, None, True),
 (4, 'Krillin', 'Humain', 300000, None, True),
 (5, 'Frieza', 'Alien', 5000000, None, True),
 (6, 'Zarbon', 'Alien', 1500000, None, True),
 (7, 'Dodoria', 'Alien', 1200000, None, True),
 (8, 'Captain Ginyu', 'Alien', 2000000, None, True)]

In [ ]:
%%sql
SELECT name 
FROM arenes 
WHERE city = 'Biarritz' 
ORDER BY name;

   postgresql+psycopg2://postgres:***@localhost:5432
 * postgresql+psycopg2://postgres:***@localhost:5432/dbz_cell
1 rows affected.

[('Colisée de la Plage',)]

In [38]:
%%sql
UPDATE fighters
SET power_level = power_level * 1.10;

SELECT *
FROM fighters

   postgresql+psycopg2://postgres:***@localhost:5432
 * postgresql+psycopg2://postgres:***@localhost:5432/dbz_cell
7 rows affected.
7 rows affected.

[(1, 'Goku', 'Saiyan', 3630000, None, True),
 (2, 'Vegeta', 'Saiyan', 3025000, None, True),
 (4, 'Krillin', 'Humain', 363000, None, True),
 (5, 'Frieza', 'Alien', 6050000, None, True),
 (6, 'Zarbon', 'Alien', 1815000, None, True),
 (7, 'Dodoria', 'Alien', 1452000, None, True),
 (8, 'Captain Ginyu', 'Alien', 2420000, None, True)]

In [27]:
%%sql

DELETE FROM fighters
WHERE name = 'Piccolo';

SELECT *
FROM fighters

   postgresql+psycopg2://postgres:***@localhost:5432
 * postgresql+psycopg2://postgres:***@localhost:5432/dbz_cell
0 rows affected.
7 rows affected.

[(1, 'Goku', 'Saiyan', 3000000, None, True),
 (2, 'Vegeta', 'Saiyan', 2500000, None, True),
 (4, 'Krillin', 'Humain', 300000, None, True),
 (5, 'Frieza', 'Alien', 5000000, None, True),
 (6, 'Zarbon', 'Alien', 1500000, None, True),
 (7, 'Dodoria', 'Alien', 1200000, None, True),
 (8, 'Captain Ginyu', 'Alien', 2000000, None, True)]

In [39]:
%%sql 
INSERT INTO matchs(fighter1_id, fighter2_id, winner, arene_id)
VALUES
(1, 2, 1, 6)

   postgresql+psycopg2://postgres:***@localhost:5432
 * postgresql+psycopg2://postgres:***@localhost:5432/dbz_cell
1 rows affected.

[]

In [45]:
%%sql
UPDATE fighters
SET fights = 1
WHERE id IN (1, 2);

UPDATE fighters 
SET status = false
WHERE id = 2;

   postgresql+psycopg2://postgres:***@localhost:5432
 * postgresql+psycopg2://postgres:***@localhost:5432/dbz_cell
2 rows affected.
1 rows affected.

[]

In [ ]:
%%sql 
SELECT f.name, m.arene_id
FROM fighters f
INNER JOIN matchs m ON f.id = m.winner

   postgresql+psycopg2://postgres:***@localhost:5432
 * postgresql+psycopg2://postgres:***@localhost:5432/dbz_cell
1 rows affected.

[('Goku', 6)]